.passione {
  font-size: 50px;
  font-family: concilian;
  color: black;
}

.testoPassione {
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(0, 0, 0);
  padding: 20px;
  z-index: 999;
}

#scrollDiv {
  background-color: rgb(80, 80, 180);
  width: 1000px;
  height: 600px;
  overflow: hidden;
  position: relative;
  z-index: 0;
}


.sfondoFerro {
  width: 1000px;
  height: 600px;
  z-index: -10;
  opacity: 70%;
  position: absolute;
}

#scrollImg {
  height: 600px;
  position: absolute;
  left: -450px;
  top: 30px;
  opacity: 100%;
  z-index: -1;
}

@keyframes glow2 {
  0% {
      text-shadow: 0 0 20px rgb(227, 243, 3);
      /* Stato iniziale del bagliore (aumenta la larghezza) */
  }

  100% {
      text-shadow: 0 0 40px rgb(227, 243, 3), 0 0 60px rgb(227, 243, 3);
      /* Stato finale del bagliore (aumenta ancora la larghezza) */
  }
}

.sub {
  color: rgb(227, 243, 3);
  transition: color 0.5s; /* Aggiungi una transizione per il colore */
  animation: glow2 2s infinite;
}

.sub:hover {
  color: rgb(255, 255, 255);
  text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white;
  transition: 0.5s;
}


/* .colonna {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes shine {
  0% {
    text-shadow: 0 0 10px yellow, 0 0 20px yellow, 0 0 30px yellow;
    color: yellow;
  }
  100% {
    text-shadow: 0 0 10px yellow, 0 0 20px yellow, 0 0 30px yellow;
    color: yellow;
  }
}

.supportami {
  color: yellow;
  text-shadow: 0 0 10px yellow, 0 0 20px yellow, 0 0 30px yellow;
  transition: 0.5s;
  background-color: blueviolet;
  position: absolute;
  height: 600px;
  width: 100px;
  margin-left: 900px;
  padding: 40px;
  font-size: 25px;
  font-family: mw;
  animation: shine 2s infinite;
} */

/*-----------------*/

