/* Stili per schermi con larghezza massima di 768px (versione mobile) */
@media screen and (max-width: 768px) {

    /*NAVBAR*/

    /* Adatta la navbar al cellulare */
    .navbar {
        display: flex;
        flex-direction: column;
        padding: 5px 10px;
        background-color: rgb(28, 28, 28);
    }

    /* Riduci la dimensione delle icone nella navbar */
    .navbar-menu a {
        font-size: 14px;
        margin-left: 10px;
        /* Aggiungi margine sinistro */
    }

    /* Sposta il logo e la classe "angelo" al centro */
    #logo {
        width: 40px;
        margin-left: 10px;
        margin-top: 20px;
    }

    /* Sposta la classe "angelo" affianco al logo */
    .angelo {
        width: 40px;
        position: absolute;
        top: 10px;
        /* Sposta in alto di 10px dalla parte superiore */
        right: 10px;
        /* Sposta a destra di 10px dalla parte destra */
        z-index: 9999;
        /* Porta l'elemento in primo piano */
    }


    .navbar-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        /* Allinea le voci a sinistra */
        margin-top: 20px;
        /* Aggiungi margine in cima al UL */
        list-style: none;
        /* Rimuovi i punti dalle voci del menu */
    }


    .navbar-menu a {

        font-size: 14px;
        margin-left: 10px;
        /* Aggiungi margine sinistro */
    }


    ul li {
        margin-right: -10px;
        /* Aggiungi spazio tra le voci */
    }



    /*---------------------------------------------------------------------*/


    /* Riduci la dimensione del testo nell'intestazione */
    .benvenuto {
        font-size: 30px;
    }

    .avanti {
        font-size: 30px;
    }

    /* Modifica il margine delle sezioni */
    section {
        margin-top: 20px;
    }

    /* Riduci il margine delle immagini e del testo nei divImg */
    .divImg {
        margin: 0;
    }

    /* Riduci la dimensione del testo nei divImg */
    .testoGenerale {
        font-size: 14px;
    }

    /* Riduci la dimensione del testo nell'elemento "IN PRIMO PIANO" */
    .piano {
        font-size: 30px;
    }

    /* Riduci la dimensione delle frecce del carousel */
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        width: 50px;
        height: 50px;
    }



    /* Riduci la dimensione del testo nel footer */
    .alessandro {
        font-size: 18px;
    }


    /* Footer */
    footer {
        margin-top: 20px;
    }

    /* Riduci la dimensione delle icone del footer */
    .social i {
        font-size: 25px;
    }
}