/* Stili per schermi con larghezza massima di 768px (versione mobile) */
@media screen and (max-width: 768px) {

    /*NAVBAR*/

    /* Adatta la navbar al cellulare */
    .navbar {
        flex-direction: column; /* Cambia la direzione della flexbox in colonna */
        padding: 10px; /* Aumenta il padding per migliorare la leggibilità */
        background-color: rgb(28, 28, 28);
    }

    /* Sposta il logo e la classe "angelo" al centro */
    #logo {
        width: 80px;
        margin: 10px auto; /* Centra il logo */
    }

    /* Sposta la classe "angelo" affianco al logo */
    .angelo {
        width: 40px;
        position: absolute;
        top: 10px;
        right: 10px; /* Posiziona l'angelo nell'angolo in alto a destra */
        z-index: 9999;
    }

    /* Modifica lo stile delle voci del menu */
    .navbar-menu {
        display: flex;
        flex-direction: column;
        align-items: center; /* Allinea le voci del menu al centroo */
        margin-top: 20px;
        list-style: none;
        padding: 0;
    }

    nav a {
        font-size: 14px; /* Aumenta la dimensione del testo delle voci */
        margin: 5px 0; /* Aggiungi spazio tra le voci */
        text-align: center; /* Centra il testo */
    }

    /* Aggiungi spazio tra le voci del menu */
    ul li {
        margin-right: -10px;
    }

    

    /*---------------------------------------------------------------------*/

    /* Riduci la dimensione del testo nell'intestazione */
    .benvenuto {
        font-size: 30px;
    }

    .avanti {
        font-size: 30px;
    }

    /* Modifica il margine delle sezioni */
    section {
        margin-top: 20px;
    }

    /* Riduci il margine delle immagini e del testo nei divImg */
    .divImg {
        margin: 0;
    }

    /* Riduci la dimensione del testo nei divImg */
    .testoGenerale {
        font-size: 14px;
    }

    /* Riduci la dimensione del testo nell'elemento "IN PRIMO PIANO" */
    .piano {
        font-size: 30px;
    }

    /* Riduci la dimensione delle frecce del carousel */
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        width: 50px;
        height: 50px;
    }

    /* Riduci la dimensione del testo nel footer */
    .alessandro {
        font-size: 18px;
    }

    /* Footer */
    footer {
        margin-top: 20px;
    }

    /* Riduci la dimensione delle icone del footer */
    .social i {
        font-size: 25px;
    }
}
