/* Stili per schermi con larghezza massima di 768px (versione mobile) */
@media screen and (max-width: 768px) {

    /*NAVBAR*/

    /* Adatta la navbar al cellulare */
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

   
    /* Sposta il logo al centro */
    #logo {
        width: 150px;
        margin-left: 10px;
        margin-top: 20px;
    }

    .angelo {
        font-size: 25px;
        text-align: center;
        margin-top: 5px; /* Riduci il margine superiore per separare "angelo" dal logo */
        z-index: 1; /* Porta "angelo" in primo piano sopra il menu */
    }

    .menu {
        margin-top: 10px;
    }

    /* Modifica lo stile delle voci del menu */
    .navbar-menu {
        list-style: none;
        padding: 0;
    }

    .navbar-menu li {
        margin: 5px 0;
    }
    nav a {
        font-size: 12px; /* Aumenta la dimensione del testo delle voci */
        padding: 5px;
    }

    /* Aggiungi spazio tra le voci del menu */
    ul li {
        margin-top: 10px; /* Aggiungi marginee superiore tra le voci */
    }


     /* Fai sì che le voci del menu siano disposte in colonna */
     .navbar-menu li {
        display: block;
        text-align: center;
    }


















    

    /*---------------------------------------------------------------------*/

    /* Riduci la dimensione del testo nell'intestazione */
    .benvenuto {
        font-size: 30px;
    }

    .avanti {
        font-size: 30px;
    }

    /* Modifica il margine delle sezioni */
    section {
        margin-top: 20px;
    }

    /* Riduci il margine delle immagini e del testo nei divImg */
    .divImg {
        margin: 0;
    }

    /* Riduci la dimensione del testo nei divImg */
    .testoGenerale {
        font-size: 14px;
    }

    /* Riduci la dimensione del testo nell'elemento "IN PRIMO PIANO" */
    .piano {
        font-size: 30px;
    }

    /* Riduci la dimensione delle frecce del carousel */
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        width: 50px;
        height: 50px;
    }

    /* Riduci la dimensione del testo nel footer */
    .alessandro {
        font-size: 18px;
    }

    /* Footer */
    footer {
        margin-top: 20px;
    }

    /* Riduci la dimensione delle icone del footer */
    .social i {
        font-size: 25px;
    }
}
